body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #64c37e;
    
}
h1{
    color:#0000ff;
}
button{
    background: #1c5be3
}
button:hover{
    background: #1eb2c6
}

#task-list {
    margin-top: 20px;
}

.task {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}
